<!DOCTYPE html>
<html lang="en">
    <%- include("particle/head") %>
<body>
    <%- include("particle/header") %>
    <b>
        <img src="/uploads/<%=avto.img%>" class="img1"  alt="<%= avto.name %>">
        <p class="name1"><%= avto.name %></p>
        <p class="mileage2"><%= avto.mileage %></p>
        <p class="price3"><%= avto.price %></p>
        <p><%= avto.about %></p>
    </b>
    <%- include("particle/footer") %>
</body>
</html>